<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="perfect_apps.sharkny">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- for pick photo -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- for network connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MyAccountActivity"
            android:label="@string/title_activity_my_account"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.AccountProfileActivity"
            android:label="@string/title_activity_account_profile"
            android:parentActivityName=".activities.MyAccountActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.MyAccountActivity" />
        </activity>
        <activity
            android:name=".activities.AccountFinanceActivity"
            android:label="@string/title_activity_account_finance"
            android:parentActivityName=".activities.MyAccountActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.MyAccountActivity" />
        </activity>
        <activity
            android:name=".activities.AccountAdvanageActivity"
            android:label="@string/title_activity_account_advanage"
            android:parentActivityName=".activities.MyAccountActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.MyAccountActivity" />
        </activity>
        <activity
            android:name=".activities.AccountProjectActivity"
            android:label="@string/title_activity_account_project"
            android:parentActivityName=".activities.MyAccountActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.MyAccountActivity" />
        </activity>
        <activity
            android:name=".activities.AccountServicesActivity"
            android:label="@string/title_activity_account_services"
            android:parentActivityName=".activities.MyAccountActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.MyAccountActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.AddAdvantageActivity"
            android:label="@string/title_activity_add_advantage"
            android:parentActivityName=".activities.AccountAdvanageActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.AccountAdvanageActivity" />
        </activity>
        <activity
            android:name=".activities.AddFinanceActivity"
            android:label="@string/title_activity_add_finance"
            android:parentActivityName=".activities.AccountFinanceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.AccountFinanceActivity" />
        </activity>
        <activity
            android:name=".activities.AddServeiceActivity"
            android:label="@string/title_activity_add_serveice"
            android:parentActivityName=".activities.AccountServicesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.AccountServicesActivity" />
        </activity>
        <activity
            android:name=".activities.AddProjectActivity"
            android:label="@string/title_activity_add_project"
            android:parentActivityName=".activities.AccountProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.AccountProjectActivity" />
        </activity>
        <activity
            android:name=".activities.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.InboxActivity"
            android:label="@string/title_activity_inbox"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.SentMailActivity"
            android:label="@string/title_activity_sent_mail"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.MessageDetailActivity"
            android:label="@string/title_activity_message_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.HomeActivity" />
        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DetailViewActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AnswerMessagActivity"
            android:label="@string/title_activity_answer_messag"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FinanceDetailActivity"
            android:label="@string/title_activity_finance_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SearchRessultPFinanActivity"
            android:label="@string/title_activity_search_ressult_pfinan"
            android:parentActivityName=".activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.SearchActivity" />
        </activity>
        <activity
            android:name=".activities.SearchResultFranchisActivity"
            android:label="@string/title_activity_search_result_franchis"
            android:parentActivityName=".activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.SearchActivity" />
        </activity>
        <activity
            android:name=".activities.SearchResultOtherServiceActivity"
            android:label="@string/title_activity_search_result_other_service"
            android:parentActivityName=".activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.SearchActivity" />
        </activity>
        <activity
            android:name=".activities.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".activities.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="perfect_apps.sharkny.activities.DetailActivity" />
        </activity>
    </application>

</manifest>